*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

#navber{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;


}
.logo_container img{
    width: 136px;
    text-align: center;
    
}
.nav_link{
    display: flex;
    gap: 30px;

   
}
.nav_link li{
    list-style-type: none;
    margin-top: 15px;  
}

.nav_link li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.button .btn{
    background-color: #469165;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;

}
.button .btn:hover{
    background-color: rgb(24, 196, 196);
}

/* banner_secation */
.banner{
    width: 100%;
    max-width: 1360PX;
    text-align: center;
     background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner .banner_contant .icon{
     color: #469165;
    width:16px;
    border-radius: 5px;
    
}


.i_text_button {
    background-color: #e5f0ea; 
    display: inline-flex;     
    align-items: center;      
    padding: 8px 20px;        
    border-radius: 50px;      
    margin-bottom: 24px;      
    gap: 8px;                 
    cursor: pointer;           
    border: 1px solid rgba(0, 0, 0, 0.05); 
}


.i_text_button:hover {
    background-color: #d4e8dd;
    
}

.info_icon {
    height: 18px; 
    width: auto;
}

.icon_text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;  
}

.taking .hading_one{
    font-size: 72px;
    font-weight: 600;
    
    
}
.taking .hading_two{
    font-size: 72px;
    font-weight: 600px;
    color: #469165;
    margin-bottom: 16px;
    
}
.taking p{
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 35px;
}

.button_section .btn_one {
  
    padding: 16px 46px 16px 16px;
    font-weight: 600px;
    font-size: 18px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
     color: #FFFFFF;
     display: inline-flex;
   
     gap: 10px;
  
 }
.button_section .btn_tow {
  
    padding: 16px 46px 16px 16px;
    font-weight: 600px;
    font-size: 18px;
    background-color: #837d7d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
  
 }
.button_section .btn_one:hover{
    background-color: #e47373;
    color: #000000;

}

.button_section .btn_tow:hover{
    background-color: #e47373;
}


/* notes_section */
.notes_section{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

}

.notes_section .text_section h3{
    color: #001931;
    font-size: 48px;
    font-weight: bold

}
.notes_section .text_section p{
    color: #627382;
    font-size: 16px;
}


.card_section{
    display: flex;
    margin-top: 50px;
      gap: 25px;
    text-align: center;
    margin-bottom: 120px;
  
    
}

 .card_section .card_info{
    width: 322px;
    box-shadow: 0 0 8px #7a7373;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    border-radius: 10px;
   
   
 }
 .card_info .vectory{
    background-color: #f95555;
    width: 36px;
    border-radius: 100%;
    padding: 8px;
   
 }

  .card_section .card_info h3{
    font-size: 16px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 15px;
  }
 .card_section .card_info p{
    color: #627382;
    font-size: 16px;
    line-height: 35px;
    padding: 20px 0;
    }

    .second_brain_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        gap: 60px;
        margin-bottom: 120px;

    }
    .photo_sectiom{
        flex: 1;
        display: flex;
        justify-content: center;
    }


    .text_container{
        flex: 1;

    }
    .text_container h5{
        font-size: 16px;
        line-height: 20px;
        color: #469165;
        font-weight: 600;
        margin-bottom: 16px;

    }
.text_container h1{
    color: #001931;
    font-size: 39px;
    font-weight: bold;
    
}
.text_container p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}



.features_list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
   

}
.features_list li{
    color: #001931;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;

}



.early_access_section{
    max-width: 900px;
    text-align: center;
    background-color: #f7f6f2;
    padding: 80px 40px;
    border-radius: 10px;
    margin: 50px auto;

}
.early_access_section h3{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-top: 20px;
   
}

.early_access_section p{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 10px auto;

}

.early_access_section button{
    background-color: #469165;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

}


.early_access_section button:hover{
    background-color: #3d7d5a;
    color: #e47373;
}
.early_access_section .last-of-type{
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
    
}


.footer_section {
    background-color: #001529;
    color: #ffffff;
    padding-bottom: 30px; 
}

.footer_container {
    padding: 60px 5% 30px 5%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
   
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer_loge img {
    height: 50px;
    width: auto;
}

.social_link {
    text-align: right;
}

.social_link h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #ffffff;
}

.icon {
    display: flex;
    gap: 15px; 
    justify-content: flex-end;
}

.icon img {
    height: 24px;
    width: 24px;
    transition: 0.3s; 
}

.icon img:hover {
    opacity: 0.7;
}

.footer-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px auto 25px auto;
    width: 90%;
    max-width: 1200px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

