*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

#navber{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;


}
.logo_container img{
    width: 136px;
    text-align: center;
    
}
.nav_link{
    display: flex;
    gap: 30px;

   
}
.nav_link li{
    list-style-type: none;
    margin-top: 15px;  
}

.nav_link li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
.button .btn{
    background-color: #469165;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;

}
.button .btn:hover{
    background-color: rgb(24, 196, 196);
}

/* banner_secation */
.banner{
    width: 100%;
    max-width: 1360PX;
  
    text-align: center;
     background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}


.banner .banner_contant .icon{
     color: #469165;
    width:16px;
    border-radius: 5px;
    
}



.i_text .icon_text{
    font-size: 16px;
    font-weight: 500px;
}
.i_text{
    background-color: #e5f0ea;
    display: inline-block;
    padding: 5px 3px;
    border-radius: 50px;
    margin-bottom: 16px;
}
.taking .hading_one{
    font-size: 72px;
    font-weight: 600;
    
    
}
.taking .hading_two{
    font-size: 72px;
    font-weight: 600px;
    color: #469165;
    margin-bottom: 16px;
    
}
.taking p{
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 35px;
}

.button_section .btn_one {
  
    padding: 16px 46px 16px 16px;
    font-weight: 600px;
    font-size: 18px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
     color: #FFFFFF;
  
 }
.button_section .btn_tow {
  
    padding: 16px 46px 16px 16px;
    font-weight: 600px;
    font-size: 18px;
    background-color: #837d7d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
  
 }
.button_section .btn_one:hover{
    background-color: #e47373;
    color: #000000;

}

.button_section .btn_tow:hover{
    background-color: #e47373;
}


/* notes_section */
.notes_section{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

}

.notes_section .text_section h3{
    color: #001931;
    font-size: 48px;
    font-weight: bold

}
.notes_section .text_section p{
    color: #627382;
    font-size: 16px;
}


.card_section{
    display: flex;
    margin-top: 50px;
      gap: 25px;
    text-align: center;
    margin-bottom: 120px;
  
    
}

 .card_section .card_info{
    width: 322px;
    box-shadow: 0 0 8px #7a7373;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
   
   
 }
 .card_info .vectory{
    background-color: #f95555;
    width: 36px;
    border-radius: 100%;
    padding: 8px;
   
 }

  .card_section .card_info h3{
    font-size: 16px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 15px;
  }
 .card_section .card_info p{
    color: #627382;
    font-size: 16px;
    line-height: 35px;
    padding: 20px 0;
  

    }







